/* http://meyerweb.com/eric/tools/css/reset/
        v2.0 | 20110126
        License: none (public domain)
        */
 
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
/*=======================================================================================*/
/*============================== MY STYLES =============================================*/
/*=====================================================================================*/

/* CSS FOR CONTACT PAGE*/

/* Same header as homepage, changing the image and title*/

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background: #A8BCA8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.theheader{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/contactpage.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.intro{
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 100px;
    font-weight: bold;
    color: rgb(206, 195, 195);
}
/*Making the options at the top*/

nav{
    display: flex;
    padding-bottom: 190px;
    justify-content: space-between;
    flex: 1;
    padding-left: 1000px;
}

a{
    text-decoration: none;
    color: rgb(206, 195, 195);
}

nav ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    position: relative;
}

nav ul li::after{
    content:'';
    height: 2px;
    width: 0%;
    background: #6D7D6D;
    display: block;
    margin: auto;
    transition: 0.3s;
}

nav ul li:hover::after{
    width: 100%;
}

/* Mobile Version for contact page*/
@media(max-width:700px){

    .intro{
        font-size: 70px;
        padding-left: 40px;
        padding-bottom: 30px;
    }

    nav{
        display: flex;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 80px;
        justify-content: space-between;
        padding-left: 200px;
    }

    nav ul li{
        list-style: none;
        display: inline-block;
        color: rgb(206, 195, 195);
        font-size: 15px;
        font-weight: bold;
        padding: 5px;
        position: relative;
    }

    .theheader{
        min-height: 50vh;
        width:100%;
        background-size: 100% 100%;
        padding-bottom: 10%;

    }
}
/* End of Header*/ 

/*Styling the Form*/
.write{
    text-align: center;
    padding-top: 50%;
    padding-bottom: 80px;
    font-size: 60px;
    font-weight: bold;
    color: #ECE7E7;
}

.form{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 70%;
    max-width: 500px;
}

.contactform{
    margin-bottom: 70px;
    position: relative;
    font-weight: bold;
    color: #ECE7E7;
}

label{
    height: 100%;
    padding: 15px;
    position: absolute;
    color: #ECE7E7;
    cursor: text;
}

input, textarea{
    background: transparent;
    border: 2px solid #ECE7E7;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    font-weight: 200;
}

/*Animating the button*/
button{
    outline:none;
    background: transparent;
    padding: 15px 15px;
    font-weight: bold;
    border: 3px solid #ECE7E7;
    color: #ECE7E7;
    cursor: pointer;
}

button:hover{
    border: 1px solid rgb(109, 125, 109, 0.5);
    background: rgb(109, 125, 109, 0.5);
    transition: 0.5s;
}

/* Animating the text in the form*/
label{
    animation-name: click;
   transform: translate(0, -35px);
   animation-duration: 1ms;
   animation-play-state: paused;
}

@keyframes click{
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(-35px);
    }
}


label:active{
    animation-play-state: running;
}

/*Making the footer for the Contact Page*/

.footer{
    padding-top: 20%;
    text-align: center;
    padding-bottom: 20px;
}

/* Adding the social Medias*/

.fa {
    padding: 5px;
    font-size: 50px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook{
 color:  rgb(109, 125, 109, 0.9);
}

.fa-twitter{
    color:rgb(109, 125, 109, 0.9);
}

.fa-reddit{
    color: rgb(109, 125, 109, 0.9);
}

.fa-instagram{
    color: rgb(109, 125, 109, 0.9);
}


.copyright{
    padding-top: 20px;
    color:rgb(109, 125, 109, 0.9);
}
